$main-red:#ef394e;
$main-orange:#f9a825;
$main-purple:#9C27B1;
$main-green:#6bb927;
$main-blue:#00bfd6;
$main-dark:#030a16;
$main-ldark:#616161;
$main-white:#ffffff;
$main-gray:#656565;
$text-gray:#535353;
$light-line:#e0e0e2;
$dark:#000;